@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@font-face{
    font-family: Brands;
    src: url('../fonts/brands.eot'); /* IE9 Compat Modes */
    src: url('../fonts/brands.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/brands.woff') format('woff'), /* Modern Browsers */
         url('../fonts/brands.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/brands.svg#svgFontName') format('svg'); /* Legacy iOS */
}

:root{
    /*=====COLORS=====*/
    --background-color: #f0f0f0;
    --first-color: #0E2431;
    --second-color: #0E2431;

    /*=====FONTS=====*/
    --body-font:  'Noto Sans', sans-serif;
    --normal-font-size: min(6vw, 3vh);
    --header-font-size: min(5vw, 2.5vh);
    --big-font-size: min(10vw, 10vh);
    --title-font-size: min(7vw, 7vh);


    --header-height: 7vh;
    --z-navbar: 100;

    --face-height: 40vh;
    --face-x: 60vw;
    --face-y: 20vh;
    
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--first-color);
}
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1,h2,p{
  margin: 0;
  padding: 0;
}
p{
  font-size: var(--normal-font-size);
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
section{
  position: relative;
  scroll-snap-margin-top:var(--header-height);
  scroll-margin-top:var(--header-height);
}
.title{
  font-size: var(--title-font-size);
  margin: 0 0 10vh 10vh;
}
/* ===== NAV BAR ===== */

header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: var(--normal-font-size);
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(145,160,175,.15);
}
.navbar{
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3vw;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: var(--header-font-size);
  font-weight: 400;
  color: #475569;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: var(--header-font-size);
  font-weight: 500;
  margin: auto 3vw;
}

.hamburger {
  display: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3vw;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
/* ===== HOME =====*/
#home{
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
.name-wrapper{
    position: absolute;
    left:20vw;
    top:30vh;
}
.name-title{
    font-size: var(--big-font-size);
}
.face-div{
  position: absolute;
  left: var(--face-x);
  top: var(--face-y);
}
.face-image{
  background-color: #007DB6;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  height: var(--face-height);
  width: auto;
}
.size-1{
    position: absolute;
    left: calc(-2vh + var(--face-x));
    top: calc(-2vh + var(--face-y));
    width: calc(4vh + var(--face-height));
    height: calc(4vh + var(--face-height));
  
  }
.size-2{
    position: absolute;
    left: calc(-3vh + var(--face-x));
    top: calc(-3vh + var(--face-y));
    width: calc(6vh + var(--face-height));
    height: calc(6vh + var(--face-height));

}
.size-3{
    position: absolute;
    left: calc(-4vh + var(--face-x));
    top: calc(-4vh + var(--face-y));
    width: calc(8vh + var(--face-height));
    height: calc(8vh + var(--face-height));
}
  
.right-1{
    -webkit-animation: spin-right 17s linear infinite;
    animation: spin-right 17s linear infinite;
}
.right-2{
    -webkit-animation: spin-right 15s linear infinite;
    animation: spin-right 15s linear infinite;
}
.right-3{
    -webkit-animation: spin-right 10s linear infinite;
    animation: spin-right 10s linear infinite;
}
.right-4{
    -webkit-animation: spin-right 7s linear infinite;
    animation: spin-right 7s linear infinite;
}
.left-1{
    -webkit-animation: spin-left 17s linear infinite;
    animation: spin-left 17s linear infinite;
}
.left-2{
    -webkit-animation: spin-left 15s linear infinite;
    animation: spin-left 15s linear infinite;
}
.left-3{
    -webkit-animation: spin-left 10s linear infinite;
    animation: spin-left 10s linear infinite;
}
.left-4{
    -webkit-animation: spin-left 7s linear infinite;
    animation: spin-left 7s linear infinite;
}
@keyframes spin-right {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@-webkit-keyframes spin-right {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin-left {
    from {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@-webkit-keyframes spin-left {
    from {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

}

.scroll{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -110%);
    top: 100%
  }
  .scroll p {
    padding-top: 50px;
  }
  .scroll p span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid var(--first-color);
    border-bottom: 2px solid var(--first-color);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: scroller 1s infinite;
    animation: scroller 1s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes scroller {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes scroller {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }

/* ===== ABOUT ===== */

.scene {
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    pointer-events:none;
    -ms-touch-action: auto;
    touch-action: auto;
}

#macintosh{
  position: absolute;
  width: auto;
  height: 50vh;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}
#hello-scene-txt{
  position: absolute;
  text-align: center;
  top: 45%;
  left: 65%;
  transform: translate(-50%, -50%);
}
#hello-scene-txt p{
  font-size: 7vh;
}
.skyline{
    position: absolute;
    top:20%;
    left: 40%;
    width: 50vw;
    height: auto;
}
.skyline-city{
    transform: translateY(100%);
}
#barcelona-scene-txt{
  position: absolute;
  text-align: center;
  top: 45%;
  left: 20%;
  transform: translate(-50%, -50%);
}
#barcelona-scene-txt p{
  font-size: 6vh;
}
#studies {
  height: 200vh;
  height: calc(var(--vh, 1vh) * 200);
}

#studies svg{
  position: absolute;
  width: auto;
  height: 200vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#chess-scene svg{
  position: absolute;
  width: auto;
  height: 40vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#paddel-ball{
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-50%, -50%);
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  background-color: #b3eb1a;
}
#paddel-scene svg{
  position: absolute;
  width: auto;
  height: 40vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#book-scene svg{
  position: absolute;
  width: auto;
  height: 40vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tml-ball {
    opacity: 0;
  }
  
  .tml-grid-line {
    fill: none;
    stroke: black;
    stroke-width: 2px;
  }
  .tml-text {
    opacity: 0;
    fill: black;
    font-size: 2rem; 
  }

.skill{
    width: 100%;
    margin-bottom: 100px;
    justify-content: center;
  }
  .skill h2{
    text-align: center;
  }
  .icon-wrapper{
   margin: 30px 50px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
  }
  .icon{
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.082);
    border-radius: 10%;
    text-align: center;
  }
  .icon p{
    padding-bottom: 10px;
  }
  
  .icon>i{
    width: auto;
    height: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: Brands;
    font-size: min(30vw, 200px);
    padding-bottom: 20px;
    color: transparent;
    transition: background-position .5s ease;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% 200%;
  }
  
  
  #cplusplus{
    background-image: linear-gradient(135deg, var(--first-color) 50%, #659ad2 50%);
  }
  #java{
    background-image: linear-gradient(135deg, var(--first-color) 50%, #ed2025 50%);
  }
  #html5{
    background-image: linear-gradient(135deg, var(--first-color) 50%, #e34f26 50%);
  }
  #css3{
    background-image: linear-gradient(135deg, var(--first-color) 50%, #0170ba 50%);
  }
  #js{
    background-image: linear-gradient(135deg, var(--first-color) 50%, #d4a830 50%);
  }
  #python{
    background-image: linear-gradient(135deg, var(--first-color) 50%, #ccaa30 50%);
  }
  #react{
    background-image: linear-gradient(135deg, var(--first-color) 50%, #61dafb 50%);
  }
  #kotlin{
    background-image: linear-gradient(135deg, var(--first-color) 50%, #7e52ff 50%);
  }
  #git{
    background-image: linear-gradient(135deg, var(--first-color) 50%, #f05033 50%);
  }
  #bash{
    background-image: linear-gradient(135deg, var(--first-color) 50%, #601348 50%);
  }
  #mongo{
    background-image: linear-gradient(135deg, var(--first-color) 50%, #58aa50 50%);
  }
@media only screen and (max-width: 768px) {
  :root{
     
    }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
      left: 0;
  }
  .nav-item {
      margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}